# Harry Potter dataset

### Import/setup libraries

In [9]:
import pandas as pd

### Read CSVs

In [45]:
# ParserError: Error tokenizing data. C error: Expected 2 fields in line 10, saw 3
    # df = pd.read_csv('C:\\Users\\jorge\\Documents\\GitHub\\Harry_Potter\\Harry Potter 1.csv')

# Sep=None solves this error
# Read characters csv
df_characters = pd.read_csv('C:\\Users\\jorge\\Documents\\GitHub\\Harry_Potter\\Characters.csv',engine='python' , sep=None)

df_harrypotter1 = pd.read_csv('C:\\Users\\jorge\\Documents\\GitHub\\Harry_Potter\\Harry Potter 1.csv',engine='python' , sep=None)

df_harrypotter2 = pd.read_csv('C:\\Users\\jorge\\Documents\\GitHub\\Harry_Potter\\Harry Potter 2.csv',engine='python' , sep=None)

df_harrypotter3 = pd.read_csv('C:\\Users\\jorge\\Documents\\GitHub\\Harry_Potter\\Harry Potter 3.csv',engine='python' , sep=None)

df_potions = pd.read_csv('C:\\Users\\jorge\\Documents\\GitHub\\Harry_Potter\\Potions.csv',engine='python' , sep=None)

df_shortversioncharacter = pd.read_csv('C:\\Users\\jorge\\Documents\\GitHub\\Harry_Potter\\shortversioncharacters.csv',engine='python' , sep=None)

df_spells = pd.read_csv('C:\\Users\\jorge\\Documents\\GitHub\\Harry_Potter\\Spells.csv',engine='python' , sep=None)

### Short version characters
This one contains the name of the actor for each one of the characters.<br>
'Characters' csv does not contain the name of the actor.

In [54]:
# Top 5 rows Short Version Character

df_shortversioncharacter.head(2)

,name,species,gender,house,dateOfBirth,yearOfBirth,ancestry,eyeColour,hairColour,wand,patronus,hogwartsStudent,hogwartsStaff,actor,alive,image
0,Harry Potter,human,male,Gryffindor,31-07-1980,1980.0,half-blood,green,black,"{'wood': 'holly', 'core': 'phoenix feather', '...",stag,True,False,Daniel Radcliffe,True,http://hp-api.herokuapp.com/images/harry.jpg
1,Hermione Granger,human,female,Gryffindor,19-09-1979,1979.0,muggleborn,brown,brown,"{'wood': 'vine', 'core': 'dragon heartstring',...",otter,True,False,Emma Watson,True,http://hp-api.herokuapp.com/images/hermione.jpeg

### Characters csv overview
Contains each of the characters characteristics.<br>
From name to patronus.

In [53]:
# Dataframe belongs to characters CSV

df_characters.head(3)

,﻿Id,Name,Gender,Job,House,Wand,Patronus,Species,Blood status,Hair colour,Eye colour,Loyalty,Skills,Birth,Death
0,1,Harry James Potter,Male,Student,Gryffindor,"11"" Holly phoenix feather",Stag,Human,Half-blood,Black,Bright green,Albus Dumbledore | Dumbledore's Army | Order o...,Parseltongue| Defence Against the Dark Arts | ...,31 July 1980,NaN
1,2,Ronald Bilius Weasley,Male,Student,Gryffindor,"12"" Ash unicorn tail hair",Jack Russell terrier,Human,Pure-blood,Red,Blue,Dumbledore's Army | Order of the Phoenix | Hog...,Wizard chess | Quidditch goalkeeping,1 March 1980,NaN
2,3,Hermione Jean Granger,Female,Student,Gryffindor,"10¾"" vine wood dragon heartstring",Otter,Human,Muggle-born,Brown,Brown,Dumbledore's Army | Order of the Phoenix | Hog...,Almost everything,"19 September, 1979",NaN

In [29]:
# Rows and columns in Characters csv

df_characters.shape

(140, 15)

In [30]:
# Columns in df_charact

df_characters.columns

Index(['﻿Id', 'Name', 'Gender', 'Job', 'House', 'Wand', 'Patronus', 'Species',
       'Blood status', 'Hair colour', 'Eye colour', 'Loyalty', 'Skills',
       'Birth', 'Death'],
      dtype='object')

In [14]:
df_characters.head()

,﻿Id,Name,Gender,Job,House,Wand,Patronus,Species,Blood status,Hair colour,Eye colour,Loyalty,Skills,Birth,Death
0,1,Harry James Potter,Male,Student,Gryffindor,"11"" Holly phoenix feather",Stag,Human,Half-blood,Black,Bright green,Albus Dumbledore | Dumbledore's Army | Order o...,Parseltongue| Defence Against the Dark Arts | ...,31 July 1980,NaN
1,2,Ronald Bilius Weasley,Male,Student,Gryffindor,"12"" Ash unicorn tail hair",Jack Russell terrier,Human,Pure-blood,Red,Blue,Dumbledore's Army | Order of the Phoenix | Hog...,Wizard chess | Quidditch goalkeeping,1 March 1980,NaN
2,3,Hermione Jean Granger,Female,Student,Gryffindor,"10¾"" vine wood dragon heartstring",Otter,Human,Muggle-born,Brown,Brown,Dumbledore's Army | Order of the Phoenix | Hog...,Almost everything,"19 September, 1979",NaN
3,4,Albus Percival Wulfric Brian Dumbledore,Male,Headmaster,Gryffindor,"15"" Elder Thestral tail hair core",Phoenix,Human,Half-blood,Silver| formerly auburn,Blue,Dumbledore's Army | Order of the Phoenix | Hog...,Considered by many to be one of the most power...,Late August 1881,"30 June, 1997"
4,5,Rubeus Hagrid,Male,Keeper of Keys and Grounds | Professor of Care...,Gryffindor,"16"" Oak unknown core",None,Half-Human/Half-Giant,Part-Human (Half-giant),Black,Black,Albus Dumbledore | Order of the Phoenix | Hogw...,Resistant to stunning spells| above average st...,6 December 1928,NaN

### Harry Potter 1 csv overview
Contains the scripts/dialogues for each of the characters in the first movie.<br>
Dialogues are in the order they appear in the movie.

In [35]:
# Top 5 rows harrypotter1

df_harrypotter1.head(5)

   ﻿Character                                           Sentence
0  Dumbledore  I should've known that you would be here, Prof...
1  McGonagall                Good evening, Professor Dumbledore.
2  McGonagall                        Are the rumors true, Albus?
3  Dumbledore                          I'm afraid so, professor.
4  Dumbledore                              The good and the bad.

### Harry Potter 2 csv overview

In [46]:
# Top 5 rows harrypotter2

df_harrypotter2.head(5)

  ﻿Character                                          Sentence
0     HARRY                      I can’t let you out, Hedwig.
1     HARRY   I’m not allowed to use magic outside of school.
2     HARRY                          Besides, if Uncle Vernon…
3     VERNON                                     Harry Potter!
4      HARRY                               Now you’ve done it.

### Harry Potter 3 csv overview

In [47]:
# Top 5 rows harrypotter2

df_harrypotter3.head(5)

     ﻿CHARACTER          SENTENCE
0         HARRY   Lumos Maxima...
1         HARRY   Lumos Maxima...
2         HARRY   Lumos Maxima...
3         HARRY  Lumos... MAXIMA!
4  AUNT PETUNIA     Harry! Harry!

### Potions csv overview
Name, ingredients, effect, characteristics like color or how it looks, difficulty level.

In [49]:
# Top 5 rows potions

df_potions.head(5)

,﻿Name,Known ingredients,Effect,Characteristics,Difficulty level
0,Ageing Potion,"Newt spleens , Bananas",Ages drinker temporarily,Green,Advanced
1,Amortentia,NaN,Love Potion that causes a powerful infatuation...,"Mother-of-pearl sheen, Spiralling steam, Scent...",Advanced
2,Antidote to Veritaserum,NaN,Counters the effect of Veritaserum,NaN,NaN
3,Babbling Beverage,"Valerian sprigs, Aconite, Dittany",Causes the drinker to speak nonsense,NaN,NaN
4,Baruffio's Brain Elixir,"Leaping Toadstools, Frog Brains, Runespoor egg...",Allegedly increases one's brain power,Green in colour,NaN

### Spells csv overview
Name of spell, incantation (words they say to do the spell), type of spell, effect of it and light color of the spell.

In [58]:
# Top 5 rows spells

df_spells.head(5)

,﻿Name,Incantation,Type,Effect,Light
0,Summoning Charm,Accio,Charm,Summons an object,None
1,Age Line,Unknown,Charm,Prevents people above or below a certain age f...,Blue
2,Water-Making Spell,Aguamenti,"Charm, Conjuration",Conjures water,Icy blue
3,Launch an object up into the air,Alarte Ascendare,Charm,Rockets target upward,Red
4,Albus Dumbledore's Forceful Spell,Unknown,Spell,Great Force,None

# Character insights
1. Male vs Female characters<br>
    1.1 Anything missing in column
2. Patronus:<br>
    2.1 Most common<br>
    2.2 Any characters with the same patronus?<br>
3. House analysis<br>
    3.1 Is there a common loyalty between members of the same house?<br>
    3.2 Characters from one house have loyalty to a completely different character than most of their houses?<br>
    3.3 Any special/common skills depending on the house?<br>
4. Deaths<br>
    4.1 Any common deaths between characters depending on house/loyalty/gender/job

### Male vs Female characters<br>
Anything missing in column?

In [69]:
# Character columns

df_characters.iloc[[0]]

,﻿Id,Name,Gender,Job,House,Wand,Patronus,Species,Blood status,Hair colour,Eye colour,Loyalty,Skills,Birth,Death
0,1,Harry James Potter,Male,Student,Gryffindor,"11"" Holly phoenix feather",Stag,Human,Half-blood,Black,Bright green,Albus Dumbledore | Dumbledore's Army | Order o...,Parseltongue| Defence Against the Dark Arts | ...,31 July 1980,NaN

In [77]:
# Character genders

print(df_characters.Gender.unique())

['Male' 'Female' nan]

In [89]:
# Only character with no gender -> Horace Slughorn
# I lloked for the gender in google, the character's gender is male, this was just a mistake

df_characters.loc[(df_characters.Gender != 'Male') & (df_characters.Gender != 'Female')][['Name', 'Gender']]

                              Name Gender
51  Horace Eugene Flaccus Slughorn    NaN